{% extends "base.html" %}
{% block content %}
<div class="modal active" id="modal-id">
    <a href="/history/" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
            <a href="/history/" class="btn btn-clear float-right"
               aria-label="Close"></a>
            <div class="modal-title h5"><i
                    class="fa-solid fa-triangle-exclamation"></i> Błąd!
            </div>
        </div>
        <div class="modal-body">
            <div class="content">
                {{ msg }}
            </div>
        </div>
    </div>
</div>
{% endblock %}