{% extends "base.html" %}

{% block content %}
<div class="main-section" id="history">
    <h1 class="title">Historia</h1>
    <table class="table table-striped table-hover">
        <thead class="table-head">
        <tr class="table-head__row">
            <th class="table-cell">#</th>
            <th class="table-cell">Komenda</th>
            <th class="table-cell">Data</th>
            <th class="table-cell">Czas</th>
            <th class="table-cell">Akcja</th>
            <th class="table-cell">Saldo</th>
        </tr>
        </thead>
        <tbody class="table-body">
        {% for transaction in history %}
        <tr class="active table-body__row">
            <td class="table-cell">{{ loop.index }}</td>
            <td class="table-cell">{{ transaction['command'] }}</td>
            <td class="table-cell">{{ transaction['time'] }}</td>
            <td class="table-cell">{{ transaction['date'] }}</td>
            <td class="table-cell">{{ transaction['action'] }}</td>
            <td class="table-cell">{{ transaction['balance'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}