{% extends "base.html" %}

{% block content %}
<div class="main-section" id="home">
    <h1 class="title">Strona główna</h1>
    <div class="container">
        <div class="columns">
            <div class="column col-6 col-md-12">
                <div class="data-card data-card--stock">
                    <div class="data-card__icon">
                        <i class="fa-solid fa-cube"></i>
                    </div>

                    <div class="data-card__info">
                        <h2 class="data-card__title">Stan
                            magazynowy</h2>
                        <table class="table table-striped table-hover">
                            <thead class="table-head">
                            <tr class="table-head__row">
                                <th class="table-cell">#</th>
                                <th class="table-cell">name</th>
                                <th class="table-cell">qty</th>
                                <th class="table-cell">price</th>
                            </tr>
                            </thead>
                            <tbody class="table-body">
                            {% for item in stock %}
                            <tr class="table-body__row">
                                <td class="table-cell">{{ loop.index
                                    }}
                                </td>
                                <td class="table-cell">{{ item['name']
                                    }}
                                </td>
                                <td class="table-cell">{{ item['qty']
                                    }}
                                </td>
                                <td class="table-cell">{{ item['price']
                                    }}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column col-6 col-md-12">
                <div class="data-card data-card--balance">
                    <div class="data-card__icon">
                        <i class="fa-solid fa-wallet"></i>
                    </div>

                    <div class="data-card__info">
                        <h2 class="data-card__title">Aktualne saldo</h2>
                        <p class="data-card__value">
                            {% if amount is defined %}
                            {{ "{:.2f}".format(amount) }} zł
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns">
            <div class="column col-xs-12">
                <div class="option">
                    <h2 class="option-title"><i
                            class="fa-solid fa-cart-shopping"></i> Zakup
                    </h2>
                    <form class="form-group" method="POST"
                          action="/buy">
                        <label class="form-label" for="buy-name">Nazwa
                            produktu</label>
                        <input class="form-input" type="text"
                               id="buy-name"
                               name="name"
                               placeholder="Nazwa produktu">
                        <label class="form-label" for="buy-price">Cena
                            jednostkowa (zł)</label>
                        <input class="form-input" type="text"
                               id="buy-price"
                               name="price"
                               placeholder="Cena jednostkowa">
                        <label class="form-label" for="buy-qty">Liczba
                            produktów</label>
                        <input class="form-input" type="number"
                               id="buy-qty"
                               name="amount"
                               placeholder="Liczba sztuk">
                        <button class="btn btn-primary">Kupić</button>
                    </form>
                </div>
            </div>

            <div class="column col-xs-12">
                <div class="option">
                    <h2 class="option-title"><i
                            class="fa-solid fa-credit-card"></i>
                        Sprzedaż</h2>
                    <form class="form-group" method="POST"
                          action="/sell">
                        <label class="form-label" for="sell-name">Nazwa
                            produktu</label>
                        <input class="form-input" type="text"
                               id="sell-name"
                               name="name"
                               placeholder="Nazwa produktu">
                        <label class="form-label" for="sell-price">Cena
                            jednostkowa (zł)</label>
                        <input class="form-input" type="text"
                               id="sell-price"
                               name="price"
                               placeholder="Cena jednostkowa">
                        <label class="form-label" for="sell-qty">Liczba
                            produktów</label>
                        <input class="form-input" type="number"
                               id="sell-qty"
                               name="amount"
                               placeholder="Liczba sztuk">
                        <button class="btn btn-primary">Sprzedać
                        </button>
                    </form>
                </div>
            </div>

            <div class="column col-xs-12">
                <div class="option">
                    <h2 class="option-title"><i
                            class="fa-solid fa-file-invoice"></i> Zmiana
                        salda</h2>
                    <form class="form-group" method="POST"
                          action="/balance">
                        <label class="form-label"
                               for="balance">Message</label>
                        <textarea class="form-input" id="balance"
                                  name="message"
                                  placeholder="Wpisz komentarz..."
                                  rows="3"></textarea>
                        <label class="form-label" for="amount">Nazwa
                            produktu</label>
                        <input class="form-input" type="text"
                               name="name"
                               id="amount" placeholder="Nazwa produktu">
                        <button class="btn btn-primary">Zmienić</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}