# =========================
# Python / Flask
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env/
instance/

*.sqlite3
*.db

*.log

# =========================
# Node.js
# =========================
node_modules/

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db