.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.options__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 6px;
    padding: 15px;
    min-width: 400px;
}

.options__title {
    font-weight: 600;
    margin-bottom: 10px;
}

.options__field {
    display: flex;
    flex-direction: column;
}

.options__label {
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
}

.options__input {
    box-sizing: border-box;
    height: 30px;
}

.options__group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.options__textarea {
    resize: none;
}

.options__btn {
    margin-top: auto;
}

.fa-credit-card,
.fa-file-invoice,
.fa-cart-shopping {
    color: #010129;
}

@media (max-width: 640px) {
    .options {
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .options {
        justify-content: center;
    }
}